html,body{margin:0; padding:0;}
body{
    background-color: #f2f2f2;
    background-image: url("../img/bg6.jpg?v=1.0.0.0");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height: 100vh;
}

img {border-radius:2rem;}

.banner{
    margin:0; padding:0;
    background-color: rgba(0, 0, 0, 0.6);
    height: inherit;
 }

.banner-top{
    padding-top: 40px;
}

.banner-buttons{
    padding-top:80px;
    padding-bottom: 20px;
}

.banner-buttons-child a{
    padding:10px;
    font-size: 14.5px;
    font-weight: 700;
    border:0px solid red;
    border-radius: 1rem;
    text-transform: uppercase;
    width:100%;
    background-color: rgba(255, 255, 255, 0.904);
}

.btn-icon{
    display: inline-block;
    background-color: #a20dd9;
    color:black !important;
    font-size: 20px;
    padding-top:10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
 }

.btn-text{
    display: block;
    color:#00000;
    padding-top:10px;
    font-size: 12px;
}


